.dropdown-toggle{
	border: 1px solid #ced4da;
}
#profilePhoto, #docs{
	border:none;
}
.taxi{
	display: none;
}
.bus{
	display: none;
}
.busDefault{
	display: none
}
.feedback{
	width: 90%;
	margin: auto;
	padding: 5px;
}